#container{
	font-size: 1.125em;
	height: 4000px;
}



div#splash {
	width: 100%;
	height: 2000px;
	background: url("img/connectivity.png") no-repeat;

}


#training_state{
display: block;
padding-left: 44%;
padding-right: 0%;
padding-top: 0%;
font-size: 2.75em;
color: white;
float: right;
font-family: 'Arapey', sans-serif;
font-style: italic;
font-weight: lighter;

}

span.name{
	opacity: 0.65;
}

#what{
	display: block;
	margin: 30% auto auto 32%;
	font-size: 1.10em;
}

#why{
	display: block;
	padding-top: 130%;
	padding-left: 60%;
}

#how{
	padding-top: 41%;
	padding-left: 68%
;
	font-size: 1.55em;
}



.question_link{
	color: white;
	font-family: 'Arapey', sans-serif;
	font-style: italic;
	font-size: 1.15em;
	font-weight: lighter;
}


}

img{
	max-width: 100%;
}



