

#container{
	font-size: 1.125em;
}



div#splash {
	width: 100%;
	height: 100vh;
	background: url("img/connectivity.png") no-repeat;

}


#training_state{
	display: block;
	padding-left: 65%;
	padding-right: 7%;
	padding-top: 0%;
	font-size: 2.75em;
	color: white;
	float: right;
	font-family: 'Arapey', sans-serif;
	font-style: italic;
	font-weight: lighter;

}

span.name{
	opacity: 0.65;
}

#what{
	display: block;
	margin: 27% auto auto 30%;
	font-size: 1.30em;
}

#why{
	display: block;
	padding-top: 120%;
	padding-left: 55%;
	font-size: 1.55em;
}

#how{
	padding-top: 38%;
	padding-left: 66%;
	font-size: 1.85em;
}



.question_link{
	color: white;
	font-family: 'Arapey', sans-serif;
	font-style: italic;
	font-size: 1.15em;
	font-weight: lighter;
}


}

img{
	max-width: 100%;
}

/* Media Queries */

/* Large Desktop */

@media screen and (max-width: 1680px){

	#why{
    margin: 0;

	
    padding-left: 0;
    padding-top: 110%;
}

	#how{
    margin: 0;

	
    padding-left: 26%;
    padding-top: 34%;
    font-size: 2.4em;
}

	#what{
    margin: 0;

	
    padding-top: 22%;
    padding-left: 24%;
}

	#training_state{
    font-size: 3.35em;

	
    margin: 0;
    padding-top: 10%;
    padding-left: 85%;
}

}


/* Ultrabook */

@media screen and (max-width: 1366px){

	#why{
    padding-left: 39%;

	}

	#how{
    padding-left: 56%;

	}

	#training_state{
    margin: 0;

	
    padding-top: 5%;
    padding-right: 17%;
}



}

/* Small Desktop */

@media screen and (max-width: 1280px){
	
	#why{
		padding-left:55%
	}
	
	#how{
		padding-left:65%;
	}
	
	#training_state{
		margin:0;
		padding-right:0
	}
		
}

/*iPad*/

@media screen and (max-width: 1024px){
	#training_state{
		margin: 0;
		display: block;
		padding-left: 67%;
		padding-right: 22%;
		padding-top: 22%;
		padding-bottom: 15%;
		font-size: 2.45em;
		color: white;
		float: right;
		font-family: 'Arapey', sans-serif;
		font-style: italic;
		font-weight: lighter;
	}

	span.name{
		opacity: 0.65;
	}

	#what{
		margin: 0;
		padding-top: 36%;
		padding-left: 39%;
		display: block;
		font-size: 1.2em;
	}

	#why{
		display: block;
		padding-top: 17%;
		padding-left: 105%;
	
		font-size: 1.45em;
}

	#how{
		padding-left: 7%;
		font-size: 1.65em;
	}
}

/*iPhone*/

@media only screen and (max-width: 568px){

	#what{
		margin: 0;
		padding-top: 66%;
		padding-left: 74%;
		display: block;
		font-size: 1.10em
	}

	#why{
		display: block;
		padding-top: 114%;
		padding-left: 145%;
	}

	#how{
    	padding: 0 0 0% 81%;
		margin: 0 0 0 0;
	}

	#training_state{
    	font-size: 1.9em;
    	padding: 10% 0 0% 0%;
		margin-right: 31%;
	}
}












